<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="EurekaBankDB" connectionString="Data Source=10.40.20.34,1433;Initial Catalog=eurekabank;User ID=sa;Password=admin123#;TrustServerCertificate=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="EurekaBank_Soap_DotNet_GR05.WS.ServicioAutenticacion">
        <endpoint address="" binding="basicHttpBinding" contract="EurekaBank_Soap_DotNet_GR05.WS.IServicioAutenticacion" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="EurekaBank_Soap_DotNet_GR05.WS.ServicioTransaccion">
        <endpoint address="" binding="basicHttpBinding" contract="EurekaBank_Soap_DotNet_GR05.WS.IServicioTransaccion" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="EurekaBank_Soap_DotNet_GR05.WS.ServicioReporte">
        <endpoint address="" binding="basicHttpBinding" contract="EurekaBank_Soap_DotNet_GR05.WS.IServicioReporte" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_Config" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <protocolMapping>
      <add binding="basicHttpBinding" scheme="http" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" minFreeMemoryPercentageToActivateService="0" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="true" />
  </system.webServer>
</configuration>
<!--ProjectGuid: 570A4405-718F-493B-B9A5-38181296EA48-->